* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.tga binary
*.exr binary
*.hdr binary
*.glb binary
*.fbx binary
*.blend binary
*.wav binary
*.ogg binary
*.mp3 binary
*.ttf binary
*.otf binary
*.res binary
*.scn binary
